In [43]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [44]:
# Read the data into dataframes
df_joined = pd.read_csv('Resources/df_joined_data.csv')
df_joined.head()

/var/folders/d8/9qjs08z542bfkg2hvyk3gfq00000gn/T/ipykernel_45369/4288075586.py:2: DtypeWarning: Columns (79) have mixed types. Specify dtype option on import or set low_memory=False.
  df_joined = pd.read_csv('Resources/df_joined_data.csv')

,x,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Wall Material,Roof Material,...,lake_michigan_data_year,nearest_major_road_dist_ft,nearest_metra_stop_dist_ft,nearest_park_dist_ft,nearest_railroad_dist_ft,nearest_water_name,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
0,0,20264140050000,211,70,4687.0,70,2.0,0.0,2.0,1.0,...,2022.0,764.136594,1935.453861,2132.176749,1055.883106,South Lagoon,7762.535182,35.427683,37.501601,68.738677
1,1,20143100350000,207,70,2790.0,70,2.0,0.0,1.0,1.0,...,2022.0,4188.862414,2896.061077,886.525144,1745.812282,NaN,2559.083259,43.383443,76.822828,82.441660
2,2,25221150220000,202,210,4000.0,70,1.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,25033000760000,210,111,2700.0,70,2.0,0.0,2.0,1.0,...,2016.0,NaN,5712.006728,NaN,NaN,NaN,9265.784793,30.013366,31.806947,60.028247
4,4,26174070030000,203,240,4312.0,70,5.0,0.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.492083,34.810349,68.982910

In [46]:
df_joined = df_joined.drop(columns=['Design Plan', 'Cathedral Ceiling', 'chicago_community_area_num', 'chicago_community_area_name', 'qualified_opportunity_zone_num'])

KeyError: "['Design Plan', 'Cathedral Ceiling', 'chicago_community_area_num', 'chicago_community_area_name', 'qualified_opportunity_zone_num'] not found in axis"

In [47]:
#deleting Sale Date, bc Sale Year is available. Deleting Condition, Desirability and Utility, bc they are not needed for the analysis/minimal data available
df_joined = df_joined.drop(columns=['Deed No.', 'Modeling Group', 'Sale Date', 'Condition, Desirability and Utility', 'Condo Class Factor'])

In [48]:
df_joined = df_joined.drop(columns=['Condo Strata', 'Sale Quarter',	'Sale Half-Year', 'Sale Quarter of Year', 'Sale Month of Year',	'Sale Half of Year', 'Most Recent Sale', 'Age Squared',	'Age Decade', 'Age Decade Squared'])

In [49]:
df_joined = df_joined.drop(columns=['Pure Market Filter', 'Square root of lot size', 'Square root of age',	'Square root of improvement size'])

In [50]:
#Removed Renovation, bc only one row had data
df_joined = df_joined.drop(columns=['subdivision_id', 'num_pin_in_half_mile', 'lake_michigan_data_year', 'Wall Material', 'Roof Material', 'Renovation', 'Site Desirability'])

In [51]:
#Not much data in Total Building Square Feet 
df_joined = df_joined.drop(columns=['Number of Commercial Units', 'Total Building Square Feet', 'Attic Finish', 'Construction Quality'])

In [52]:
#redundant columns
df_joined = df_joined.drop(columns=['class', 'tax_district_code', 'tax_district_code', 'property_address', 'flood_fs_factor', 'flood_fs_risk_direction', 'ohare_noise_contour_no_buffer_bool', 'ohare_noise_contour_half_mile_buffer_bool',	'airport_noise_dnl', 'airport_noise_data_year', 'nearest_major_road_dist_ft', 'township_code', 'property_address'])

In [53]:
#pin,sale_price,sale_year,est_land,est_bldg,age,addr,latitude, longitude,hd_sf,n_units,bldg_sf,geometry,pri_neigh,sec_neigh,shape_area,shape_len,side,index_right,GEO_ID

In [54]:
df_joined.head()

,x,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Rooms,Bedrooms,...,nearest_cta_stop_dist_ft,lake_michigan_dist_ft,nearest_metra_stop_dist_ft,nearest_park_dist_ft,nearest_railroad_dist_ft,nearest_water_name,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
0,0,20264140050000,211,70,4687.0,70,2.0,0.0,11.0,4.0,...,9794.218079,8395.770716,1935.453861,2132.176749,1055.883106,South Lagoon,7762.535182,35.427683,37.501601,68.738677
1,1,20143100350000,207,70,2790.0,70,2.0,0.0,7.0,3.0,...,1944.855626,6360.931520,2896.061077,886.525144,1745.812282,NaN,2559.083259,43.383443,76.822828,82.441660
2,2,25221150220000,202,210,4000.0,70,1.0,0.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,25033000760000,210,111,2700.0,70,2.0,0.0,5.0,3.0,...,2156.808533,21800.837272,5712.006728,NaN,NaN,NaN,9265.784793,30.013366,31.806947,60.028247
4,4,26174070030000,203,240,4312.0,70,5.0,0.0,6.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.492083,34.810349,68.982910

In [55]:
df_joined = df_joined.drop(columns=['x'])

In [58]:
df_joined

,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Rooms,Bedrooms,Basement,...,nearest_cta_stop_dist_ft,lake_michigan_dist_ft,nearest_metra_stop_dist_ft,nearest_park_dist_ft,nearest_railroad_dist_ft,nearest_water_name,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
0,20264140050000,211,70,4687.0,70,2.0,0.0,11.0,4.0,1.0,...,9794.218079,8395.770716,1935.453861,2132.176749,1055.883106,South Lagoon,7762.535182,35.427683,37.501601,68.738677
1,20143100350000,207,70,2790.0,70,2.0,0.0,7.0,3.0,1.0,...,1944.855626,6360.931520,2896.061077,886.525144,1745.812282,NaN,2559.083259,43.383443,76.822828,82.441660
2,25221150220000,202,210,4000.0,70,1.0,0.0,5.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25033000760000,210,111,2700.0,70,2.0,0.0,5.0,3.0,1.0,...,2156.808533,21800.837272,5712.006728,NaN,NaN,NaN,9265.784793,30.013366,31.806947,60.028247
4,26174070030000,203,240,4312.0,70,5.0,0.0,6.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.492083,34.810349,68.982910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212400,16121020080000,211,101,3175.0,77,2.0,2.0,7.0,4.0,1.0,...,3110.694686,22713.838616,1663.550266,NaN,NaN,NaN,3842.508220,25.004712,37.491853,50.010324
212401,17172120161351,299,131,38130.0,77,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132.585415,155.464516,160.264510
212402,17082240081014,299,120,7136.0,77,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.440016,78.833218,107.208034
212403,13251310220000,211,150,3018.0,77,3.0,3.0,18.0,9.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.086735,74.702324,82.574120
212404,17193040270000,203,141,2976.0,77,1.0,0.0,4.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,5058.506892,24.003443,24.004172,47.993710

In [67]:
df_filtered = df_joined[(df_joined['Sale Year'] >= 2018) & (df_joined['Sale Year'] <= 2023)]
df_filtered

,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Rooms,Bedrooms,Basement,...,nearest_cta_stop_dist_ft,lake_michigan_dist_ft,nearest_metra_stop_dist_ft,nearest_park_dist_ft,nearest_railroad_dist_ft,nearest_water_name,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
7,20254260180000,203,80,3750.0,70,1.0,0.0,6.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.975556,34.997678,59.952856
8,20232190220000,211,70,5000.0,70,3.0,6.0,30.0,12.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.950574,40.386872,61.836373
12,25153030260000,202,210,4158.0,70,1.0,0.0,4.0,2.0,4.0,...,8641.316080,26084.996093,2717.148357,NaN,NaN,Calumet Riv,6391.361862,32.903876,32.903965,57.680425
13,20232230451019,299,70,25066.0,70,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.979888,146.228247,152.142184
14,20271160150000,203,30,5600.0,70,1.0,0.0,4.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.995384,40.227725,71.496030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212391,17051240681004,299,120,5846.0,77,NaN,NaN,NaN,NaN,NaN,...,988.630952,10464.074256,4886.881878,NaN,NaN,Chicago River North Br,1234.962907,35.248738,46.936961,58.758696
212394,16162141890000,295,80,1017.0,77,2.0,0.0,4.0,2.0,2.0,...,1952.905851,35789.669486,11523.308495,NaN,NaN,NaN,4453.705514,18.327534,24.763143,36.645742
212400,16121020080000,211,101,3175.0,77,2.0,2.0,7.0,4.0,1.0,...,3110.694686,22713.838616,1663.550266,NaN,NaN,NaN,3842.508220,25.004712,37.491853,50.010324
212401,17172120161351,299,131,38130.0,77,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,132.585415,155.464516,160.264510
212404,17193040270000,203,141,2976.0,77,1.0,0.0,4.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,5058.506892,24.003443,24.004172,47.993710

In [69]:
df_filtered = df_filtered.drop(columns=['nearest_park_dist_ft', 'nearest_railroad_dist_ft'])

In [70]:
df_check = df_filtered.groupby(["Sale Year"])
df_check.size().sort_values(ascending= False)

Sale Year
2018    35029
2019    34202
dtype: int64

In [71]:
df_filtered.to_csv('df_filtered.csv', encoding='utf-8')