In [113]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [114]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
df_analysis = pd.read_csv("Resources/data_cleaned.csv", index_col=0)

pd.set_option('display.max_columns', None)
# Review the DataFrame
df_analysis

,pin,Property Class,Neighborhood Code,Land Square Feet,Town Code,Type of Residence,Apartments,Rooms,Bedrooms,Basement,Basement Finish,Central Heating,Other Heating,Central Air,Fireplaces,Attic Type,Half Baths,Garage 1 Size,Garage 1 Attachment,Garage 1 Area,Porch,Building Square Feet,Estimate (Land),Estimate (Building),Sale Price,Property Address,Full Baths,Age,Use,Road Proximity,Sale Year,Lot Size Squared,Improvement Size Squared,Garage Indicator,Town and Neighborhood,township_name,longitude,latitude,property_city,property_state,property_zip,ward_num,school_elementary_district_name,school_secondary_district_name,cmap_walkability_no_transit_score,cmap_walkability_total_score,num_bus_stop_in_half_mile,num_foreclosure_in_half_mile_past_5_years,num_foreclosure_per_1000_pin_past_5_years,nearest_cta_route_name,nearest_cta_stop_dist_ft,lake_michigan_dist_ft,nearest_metra_stop_dist_ft,nearest_water_dist_ft,nearest_neighbor_1_dist_ft,nearest_neighbor_2_dist_ft,nearest_neighbor_3_dist_ft
12,25153030260000,202,210,4158,70,1.0,0,4,2,4,3.0,1.0,5.0,False,0,3.0,0,0.0,0.0,0.0,3,500,27020,48900,13000,10728 S INDIANA AVE,1,95,1,False,2019,17288964,250000,False,70210,Hyde Park,-87.618795,41.699030,CHICAGO,IL,60628.0,9.0,CPS ELEMENTARY - LAVIZZO,CPS SECONDARY - CORLISS HS,60.5,68.5,29,203,64.55,Red Line,8641.316080,26084.996093,2717.148357,6391.361862,32.903876,32.903965,57.680425
26,20273010160000,211,111,5313,70,2.0,2,7,4,1,3.0,2.0,5.0,False,1,3.0,0,3.0,2.0,2.0,3,2616,37190,194060,102300,7555 S WABASH AVE,2,95,2,False,2018,28227969,6843456,True,70111,Hyde Park,-87.622643,41.756680,CHICAGO,IL,60619.0,6.0,CPS ELEMENTARY - DENEEN,CPS SECONDARY - ROBESON HS,76.5,85.5,64,167,77.17,Red Line,2378.981155,15798.238046,7256.411321,3508.897334,29.830339,32.745589,56.233720
27,20341050210000,211,111,4500,70,2.0,2,7,4,1,3.0,2.0,5.0,False,0,3.0,0,3.0,2.0,2.0,3,2736,31500,175060,1,7947 S CALUMET AVE,2,92,2,False,2018,20250000,7485696,True,70111,Hyde Park,-87.616056,41.749747,CHICAGO,IL,60619.0,6.0,CPS ELEMENTARY - RUGGLES,CPS SECONDARY - BOWEN HS,78.5,87.5,42,206,71.58,Red Line,2483.343963,15881.861019,5154.668579,5247.755218,29.998205,30.015005,59.785008
63,20223010160000,203,30,3300,70,1.0,0,5,3,1,1.0,2.0,5.0,False,0,1.0,0,1.0,2.0,2.0,1,1261,41250,115830,1,54 E 68TH ST,1,92,1,False,2019,10890000,1590121,True,7030,Hyde Park,-87.622982,41.771248,CHICAGO,IL,60637.0,6.0,CPS ELEMENTARY - BROWNELL,CPS SECONDARY - ENGLEWOOD STEM HS,75.0,83.0,69,84,44.42,Red Line,1289.011353,13598.517588,8798.198308,6507.411449,32.998020,33.004924,64.502211
85,25011050180000,202,130,3643,70,1.0,0,5,3,1,3.0,1.0,5.0,False,0,3.0,0,0.0,0.0,0.0,3,982,29140,85070,172000,8758 S CREGIER AVE,1,67,1,False,2018,13271449,964324,False,70130,Hyde Park,-87.580869,41.735292,CHICAGO,IL,60617.0,8.0,CPS ELEMENTARY - CALDWELL,CPS SECONDARY - BOWEN HS,81.5,89.5,45,79,25.86,Red Line,11968.230035,11828.693908,5331.604154,10291.059868,30.670624,60.659963,90.640905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212271,17301160040000,211,141,2400,77,1.0,2,8,4,1,2.0,1.0,5.0,False,0,3.0,0,0.0,0.0,0.0,1,1806,49200,190890,415000,2245 W 24TH ST,2,135,2,False,2018,5760000,3261636,False,77141,West Chicago,-87.682398,41.848226,CHICAGO,IL,60608.0,25.0,CPS ELEMENTARY - RUIZ,CPS SECONDARY - JUAREZ HS,88.0,97.0,45,29,13.46,Pink Line,2309.108308,19530.014594,3567.946967,2388.975064,24.001717,24.004066,47.991597
212301,17063060040000,211,52,2600,77,2.0,2,10,4,1,3.0,2.0,5.0,False,0,3.0,0,3.0,2.0,2.0,3,2040,78000,308960,1,1109 N LEAVITT ST,2,117,2,False,2018,6760000,4161600,True,7752,West Chicago,-87.681795,41.901630,CHICAGO,IL,60622.0,2.0,CPS ELEMENTARY - DE DIEGO,CPS SECONDARY - CLEMENTE HS,110.5,119.5,47,9,2.49,Blue Line,3185.879688,15656.812830,4851.155570,4911.124322,24.970062,26.459766,50.243183
212389,14311240200000,205,170,3600,77,2.0,0,9,4,1,1.0,1.0,5.0,True,0,2.0,0,3.0,2.0,2.0,3,2062,144000,550640,1,2319 W SHAKESPEARE AVE,3,128,1,False,2018,12960000,4251844,True,77170,West Chicago,-87.685870,41.920418,CHICAGO,IL,60647.0,32.0,CPS ELEMENTARY - PULASKI,CPS SECONDARY - CLEMENTE HS,105.5,114.5,49,11,2.88,Blue Line,1605.104188,15247.702912,5011.158050,3307.171219,30.017950,33.000013,57.338882
212394,16162141890000,295,80,1017,77,2.0,0,4,2,2,3.0,1.0,5.0,False,0,3.0,0,0.0,0.0,0.0,3,1058,13220,57650,72000,5013 W GLADYS AVE,1,62,1,False,2019,1034289,1119364,False,7780,West Chicago,-87.749847,41.875626,CHICAGO,IL,60644.0,29.0,CPS ELEMENTARY - LELAND,CPS SECONDARY - MANLEY HS,116.0,125.0,110,149,55.10,Blue Line,1952.905851,35789.669486,11523.308495,4453.705514,18.327534,24.763143,36.645742
212400,16121020080000,211,101,3175,77,2.0,2,7,4,1,1.0,1.0,5.0,False,0,3.0,1,0.0,0.0,0.0,3,2415,33330,178040,203000,631 N KEDZIE AVE,2,120,2,True,2018,10080625,5832225,False,77101,West Chicago,-87.706126,41.892857,CHICAGO,IL,60612.0,27.0,CPS ELEMENTARY - MORTON,CPS SECONDARY - ORR HS,65.5,74.5,56,69,32.75,Green Line,3110.694686,22713.838616,1663.550266,3842.508220,25.004712,37.491853,50.010324

In [115]:
# Remove columns not necessary for analysis
df_analysis = df_analysis.drop(columns=['Town and Neighborhood', 'pin', 'Property Address', 'property_city', 'property_state', 'Property Class', 'Neighborhood Code', 'Land Square Feet', 'Rooms', 'Town Code', 'Type of Residence', 'Apartments', 'Use', 'Road Proximity', 
                    'Lot Size Squared', 'Improvement Size Squared', 'longitude', 'latitude', 'property_zip', 'ward_num', 'school_elementary_district_name','school_secondary_district_name', 'num_bus_stop_in_half_mile', 'num_foreclosure_in_half_mile_past_5_years', 'num_foreclosure_per_1000_pin_past_5_years',
                    'nearest_cta_route_name', 'nearest_neighbor_1_dist_ft', 'nearest_neighbor_2_dist_ft', 'nearest_neighbor_3_dist_ft', 'township_name', 'Attic Type','Garage 1 Size', 'Garage 1 Attachment', 'Garage 1 Area', 'Age','cmap_walkability_no_transit_score', 'cmap_walkability_total_score', 'nearest_cta_stop_dist_ft', 'lake_michigan_dist_ft', 'nearest_metra_stop_dist_ft',	
                    'nearest_water_dist_ft', 'Basement Finish', 'Central Heating', 'Other Heating'])

df_analysis

,Bedrooms,Basement,Central Air,Fireplaces,Half Baths,Porch,Building Square Feet,Estimate (Land),Estimate (Building),Sale Price,Full Baths,Sale Year,Garage Indicator
12,2,4,False,0,0,3,500,27020,48900,13000,1,2019,False
26,4,1,False,1,0,3,2616,37190,194060,102300,2,2018,True
27,4,1,False,0,0,3,2736,31500,175060,1,2,2018,True
63,3,1,False,0,0,1,1261,41250,115830,1,1,2019,True
85,3,1,False,0,0,3,982,29140,85070,172000,1,2018,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
212271,4,1,False,0,0,1,1806,49200,190890,415000,2,2018,False
212301,4,1,False,0,0,3,2040,78000,308960,1,2,2018,True
212389,4,1,True,0,0,3,2062,144000,550640,1,3,2018,True
212394,2,2,False,0,0,3,1058,13220,57650,72000,1,2019,False
212400,4,1,False,0,1,3,2415,33330,178040,203000,2,2018,False

In [116]:
df_analysis = df_analysis.drop(columns=['Fireplaces', 'Garage Indicator'])

In [117]:
# Check and remove null values
nan_count = df_analysis.isnull().sum().sum()
print('Number of NaN values:', nan_count)
df_analysis = df_analysis.dropna()
df_analysis

Number of NaN values: 0

,Bedrooms,Basement,Central Air,Half Baths,Porch,Building Square Feet,Estimate (Land),Estimate (Building),Sale Price,Full Baths,Sale Year
12,2,4,False,0,3,500,27020,48900,13000,1,2019
26,4,1,False,0,3,2616,37190,194060,102300,2,2018
27,4,1,False,0,3,2736,31500,175060,1,2,2018
63,3,1,False,0,1,1261,41250,115830,1,1,2019
85,3,1,False,0,3,982,29140,85070,172000,1,2018
...,...,...,...,...,...,...,...,...,...,...,...
212271,4,1,False,0,1,1806,49200,190890,415000,2,2018
212301,4,1,False,0,3,2040,78000,308960,1,2,2018
212389,4,1,True,0,3,2062,144000,550640,1,3,2018
212394,2,2,False,0,3,1058,13220,57650,72000,1,2019
212400,4,1,False,1,3,2415,33330,178040,203000,2,2018

In [118]:
# Get rid of outlier sale prices
df_analysis = df_analysis.drop(df_analysis[df_analysis['Sale Price'] <= 50000].index)
#df_analysis = df_analysis.drop(df_analysis[df_analysis['Sale Price'] == 0].index)
pd.set_option('display.max_columns', None)
df_analysis

,Bedrooms,Basement,Central Air,Half Baths,Porch,Building Square Feet,Estimate (Land),Estimate (Building),Sale Price,Full Baths,Sale Year
26,4,1,False,0,3,2616,37190,194060,102300,2,2018
85,3,1,False,0,3,982,29140,85070,172000,1,2018
88,2,1,True,0,3,1044,30000,99220,120000,1,2018
101,4,1,False,1,3,1998,70310,137770,329000,2,2019
104,2,1,False,0,3,797,25510,59580,107200,1,2018
...,...,...,...,...,...,...,...,...,...,...,...
212248,4,2,True,1,3,2169,49910,685440,745000,3,2019
212255,4,1,False,0,1,1188,138000,609250,260677,2,2018
212271,4,1,False,0,1,1806,49200,190890,415000,2,2018
212394,2,2,False,0,3,1058,13220,57650,72000,1,2019
212400,4,1,False,1,3,2415,33330,178040,203000,2,2018

In [119]:
df_analysis.dtypes

Bedrooms                int64
Basement                int64
Central Air              bool
Half Baths              int64
Porch                   int64
Building Square Feet    int64
Estimate (Land)         int64
Estimate (Building)     int64
Sale Price              int64
Full Baths              int64
Sale Year               int64
dtype: object

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [120]:
# Separate the data into labels and features

# Separate the y variable, the labels
# YOUR CODE HERE!]
y = df_analysis["Sale Price"]

# Separate the X variable, the features
X = df_analysis.drop(columns=["Sale Price"])

In [121]:
# Review the y variable Series
y.head()

26     102300
85     172000
88     120000
101    329000
104    107200
Name: Sale Price, dtype: int64

In [122]:
# Review the X variable DataFrame
X.head()

,Bedrooms,Basement,Central Air,Half Baths,Porch,Building Square Feet,Estimate (Land),Estimate (Building),Full Baths,Sale Year
26,4,1,False,0,3,2616,37190,194060,2,2018
85,3,1,False,0,3,982,29140,85070,1,2018
88,2,1,True,0,3,1044,30000,99220,1,2018
101,4,1,False,1,3,1998,70310,137770,2,2019
104,2,1,False,0,3,797,25510,59580,1,2018

### Step 3: Split the data into training and testing datasets by using `train_test_split`.

In [123]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state to the function
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=42)
X_train.shape

(4890, 10)

In [124]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

In [125]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [126]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [127]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [128]:
# Create a random forest classifier
rf_model = RandomForestRegressor(n_estimators=1000, random_state=42)

In [129]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [130]:
predictions = rf_model.predict(X_test_scaled)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [131]:
# Make a prediction using the testing data
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results.head(10)

    Prediction   Actual
0   694420.898   628000
1   327224.553   400000
2   964107.025   740000
3   240686.822   285000
4  1016481.482  1138000
5   117106.391   180000
6   210823.327   163000
7   174165.055    65000
8   276282.772   157255
9   665678.366   840000

In [132]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, predictions))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, predictions))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

Mean Absolute Error: 90763.80763077721
Mean Squared Error: 24564755173.046368
Root Mean Squared Error: 156731.47473639864

In [133]:
results['Actual'] = results['Actual'].astype('int64')
results.dtypes

Prediction    float64
Actual          int64
dtype: object

In [134]:
results['Prediction'] = results['Prediction'].astype('int64')

In [135]:
percent_error = (results['Prediction'] - results['Actual']) / results['Actual']
percent_error

0       0.105764
1      -0.181940
2       0.302847
3      -0.155488
4      -0.106783
          ...
1626    0.760698
1627   -0.294357
1628    0.459727
1629   -0.098314
1630    1.205820
Length: 1631, dtype: float64

In [136]:
average_percent_error = np.mean(percent_error)
average_percent_error

0.13767628571222867

---

In [137]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor
params = {
    'n_estimators': [100, 250, 500, 100],
    'max_depth': [2, 4, 6, 8],
    'min_samples_split': [1, 2, 4, 8, 12],
}
model = RandomForestRegressor()
cv = RandomizedSearchCV(estimator = model, param_distributions=params, n_jobs = -1, n_iter = 10, verbose = 3)
cv.fit(X_train, y_train)
cv.best_params_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[CV 4/5] END max_depth=2, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 1/5] END max_depth=2, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 3/5] END max_depth=2, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 2/5] END max_depth=2, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 5/5] END max_depth=2, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 2/5] END max_depth=6, min_samples_split=2, n_estimators=500;, score=0.754 total time=  26.6s
[CV 3/5] END max_depth=6, min_samples_split=2, n_estimators=500;, score=0.766 total time=  26.9s
[CV 1/5] END max_depth=6, min_samples_split=2, n_estimators=500;, score=0.765 total time=  27.1s
[CV 4/5] END max_depth=6, min_samples_split=2, n_estimators=500;, score=0.727 total time=  27.0s
[CV 1/5] END max_depth=4, min_samples_split=4, n_estimators=250;, score=0.736 total time=   5.8s
[CV 2/5] END max_depth=4, min_samples_split=4, n_estimators=250;, score=0.706 total time=   5.8s
[CV 3/5] END max_depth=4, min_samples_split=4, n_estimators=250;, score=0.715 total time=   5.8s
[CV 1/5] END max_depth=4, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 2/5] END max_depth=4, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 3/5] END max_depth=4, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 4/5] END max_depth=4, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 5/5] END max_depth=4, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 4/5] END max_depth=4, min_samples_split=4, n_estimators=250;, score=0.697 total time=   4.5s
[CV 5/5] END max_depth=4, min_samples_split=4, n_estimators=250;, score=0.749 total time=   4.5s
[CV 5/5] END max_depth=6, min_samples_split=2, n_estimators=500;, score=0.777 total time=  13.6s
[CV 1/5] END max_depth=8, min_samples_split=12, n_estimators=250;, score=0.738 total time=   7.4s
[CV 3/5] END max_depth=8, min_samples_split=12, n_estimators=250;, score=0.771 total time=   7.4s
[CV 2/5] END max_depth=8, min_samples_split=12, n_estimators=250;, score=0.739 total time=   7.6s
[CV 4/5] END max_depth=8, min_samples_split=12, n_estimators=250;, score=0.731 total time=   7.5s
[CV 5/5] END max_depth=8, min_samples_split=12, n_estimators=250;, score=0.787 total time=   7.6s
[CV 1/5] END max_depth=4, min_samples_split=2, n_estimators=250;, score=0.750 total time=   4.2s
[CV 2/5] END max_depth=4, min_samples_split=2, n_estimators=250;, score=0.711 total time=   4.2s
[CV 1/5] END max_depth=6, min_samples_split=1, n_estimators=250;, score=nan total time=   0.0s
[CV 2/5] END max_depth=6, min_samples_split=1, n_estimators=250;, score=nan total time=   0.0s
[CV 3/5] END max_depth=6, min_samples_split=1, n_estimators=250;, score=nan total time=   0.0s
[CV 4/5] END max_depth=6, min_samples_split=1, n_estimators=250;, score=nan total time=   0.0s
[CV 5/5] END max_depth=6, min_samples_split=1, n_estimators=250;, score=nan total time=   0.0s
[CV 3/5] END max_depth=4, min_samples_split=2, n_estimators=250;, score=0.713 total time=   4.1s
[CV 4/5] END max_depth=4, min_samples_split=2, n_estimators=250;, score=0.696 total time=   4.1s
[CV 5/5] END max_depth=4, min_samples_split=2, n_estimators=250;, score=0.741 total time=   4.2s
[CV 1/5] END max_depth=4, min_samples_split=12, n_estimators=250;, score=0.729 total time=   4.2s
[CV 2/5] END max_depth=4, min_samples_split=12, n_estimators=250;, score=0.705 total time=   5.4s
[CV 1/5] END max_depth=6, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 2/5] END max_depth=6, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 3/5] END max_depth=6, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 4/5] END max_depth=6, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 5/5] END max_depth=6, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 1/5] END max_depth=8, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 2/5] END max_depth=8, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 3/5] END max_depth=8, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 4/5] END max_depth=8, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 5/5] END max_depth=8, min_samples_split=1, n_estimators=100;, score=nan total time=   0.0s
[CV 3/5] END max_depth=4, min_samples_split=12, n_estimators=250;, score=0.711 total time=   5.3s
[CV 4/5] END max_depth=4, min_samples_split=12, n_estimators=250;, score=0.690 total time=   4.9s
[CV 5/5] END max_depth=4, min_samples_split=12, n_estimators=250;, score=0.746 total time=   4.8s

/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:425: FitFailedWarning:
25 fits failed out of a total of 50.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
25 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/base.py", line 1144, in wrapper
    estimator._validate_params()
  File "/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'min_samples_split' parameter of RandomForestRegressor must be an int in the range [2, inf) or a float in the range (0.0, 1.0]. Got 1 instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/Users/kelcigriffin/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/model_selection/_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan 0.75801348 0.72077624        nan 0.75327616 0.72234767
        nan 0.71623163        nan        nan]
  warnings.warn(

{'n_estimators': 500, 'min_samples_split': 2, 'max_depth': 6}

In [138]:
# Create a random forest classifier
rf_model = RandomForestRegressor(n_estimators=100, min_samples_split= 4, max_depth= 8, random_state=42)

In [139]:
rf_model = rf_model.fit(X_train_scaled, y_train)

In [140]:
predictions = rf_model.predict(X_test_scaled)

In [141]:
# Make a prediction using the testing data
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results.head(10)

      Prediction   Actual
0  689812.045490   628000
1  337684.940444   400000
2  917167.722985   740000
3  264294.448753   285000
4  926298.008060  1138000
5  119579.764606   180000
6  222825.750960   163000
7  155260.401257    65000
8  263953.207237   157255
9  576481.989127   840000

In [142]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, predictions))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, predictions))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

Mean Absolute Error: 92007.2114502618
Mean Squared Error: 25027975177.70729
Root Mean Squared Error: 158202.32355343993